.all{
    max-width: 1100px;
    margin: auto;
}
.pc-1{
    text-align: center;
    font-size: 21px;
    line-height: 2.6rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.above{
    height: auto;
    width: 90%;
    box-shadow: 2px 4px 10px #ccc, -2px -3px 4px #ccc;
    margin: 20px;
    padding: 6px 10px;
    border-radius: 10px;
}
.data{
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
@media only screen and (max-width:612px){
    .data{
        margin: 30px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        line-height: 2.3rem;
    }   
}
span{
    margin-right: 10px;
}
.ps{
    margin: 0;
    padding: 0;
}
.flexs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex: 1;
}
.pen{
    color: rgba(131, 0, 131, 0.788);
}
.aps{
    color: rgb(236, 35, 0);
}
.sps{
    color: rgb(36, 119, 3);
}
.akakak{
    display: inline;
    width: 150px;
}
.datassss{
    line-height: 2.7rem;
    margin: 20px 0;
}
.btnj{
    width: 120px;
}
.bnn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.bnn:last-child{
    margin: 20px 0 20px 0;
}
.deleterecord{
    right: 10px;
    width: 170px;
}
.selection{
    margin: 20px auto;
    width: 200px;
    background-color: white;
    color: tomato;
    font-weight: bold;
    font-size: 20px;
}
.loading{
    font-size: 24px;
    color: tomato;
    text-align: center;
    margin:  44px 0;
}