.privacy{
    margin: 60px 40px;
}
.h1-privacy{
text-align: center;
margin: 20px 0;
}

.m-auto{
    margin: auto;
    margin-bottom: 20px;
}
.ppppp{
    line-height: 1.9rem;
    text-align: justify;
}
.stss{
    display: block;
    margin: 20px;
}